Предсказание средней температуры

In [1]:
import requests      # Библиотека для отправки запросов
import numpy as np   # Библиотека для матриц, векторов и линала
import pandas as pd  # Библиотека для табличек 
import time          # Библиотека для времени

In [2]:
from fake_useragent import UserAgent

In [3]:
from bs4 import BeautifulSoup

In [4]:
def getAvarageTemperature(city_code, year, mounth):
    try:
        url = 'http://www.pogodaiklimat.ru/monitor.php?id={}&month={}&year={}'.format(city_code, mounth, year)
        response = requests.get(url, headers={'User-Agent': UserAgent().chrome})
        html = response.content
        soup = BeautifulSoup(html, 'html.parser') 
        obj = soup.find_all(lambda tag: tag.name == 'div' and tag.get('class') == ['climate-text'])[1]
        temperature = obj.find_all(lambda tag: tag.name == 'b')[1].contents[0]
        temperature = float(temperature[:-1])
    except:
        temperature=None
    return temperature

In [5]:
def getYear(city_code, year):
    year_temp = []
    for i in range(12):
        temperature = getAvarageTemperature(city_code, year, i+1)
        year_temp.append(temperature) 
        time.sleep(0.3)
    return year_temp

In [6]:
def getCity(city_code, start_year, finish_year):
        years = finish_year - start_year + 1
        city_temp = []
        for i in range(years):
            temperature = getYear(city_code, start_year+i)
            city_temp = city_temp + temperature
        return city_temp

In [7]:
start_year = 2010
finish_year = 2012

city_codes = [27402, 26063, 27532, 28748, 27719, 27612]

In [8]:
final_temp = []

for city_code in city_codes:
    print(city_code)
    city_temp = getCity(city_code, start_year, finish_year)
    final_temp.append(city_temp) 

final_temp

27402
26063
27532
28748
27719
27612

[[-15.9,
  -9.4,
  -2.5,
  6.9,
  15.8,
  17.9,
  24.9,
  20.2,
  10.9,
  3.0,
  1.0,
  -9.8,
  -8.4,
  -11.4,
  -2.3,
  5.7,
  13.4,
  17.8,
  22.2,
  17.7,
  11.3,
  6.0,
  0.4,
  -0.3,
  -7.5,
  -12.3,
  -3.2,
  6.3,
  13.6,
  16.0,
  19.5,
  16.3,
  12.0,
  5.3,
  0.9,
  -10.8],
 [-12.1,
  -8.4,
  -2.4,
  6.7,
  13.4,
  15.5,
  24.4,
  19.6,
  12.3,
  5.6,
  0.3,
  -8.3,
  -5.8,
  -11.0,
  -1.9,
  5.7,
  11.0,
  17.7,
  22.5,
  17.5,
  13.1,
  7.6,
  3.6,
  1.9,
  -4.9,
  -10.4,
  -1.0,
  4.9,
  12.7,
  15.3,
  19.5,
  16.3,
  12.9,
  6.6,
  2.9,
  -8.0],
 [-15.9,
  -9.7,
  -2.8,
  7.6,
  16.5,
  18.2,
  24.9,
  20.7,
  11.3,
  3.0,
  1.6,
  -9.3,
  -9.8,
  -13.5,
  -3.8,
  4.7,
  13.7,
  17.4,
  22.4,
  18.4,
  11.1,
  5.7,
  -1.9,
  -1.9,
  -8.9,
  -13.7,
  -4.9,
  7.3,
  14.7,
  16.7,
  20.0,
  16.8,
  12.4,
  6.1,
  0.2,
  -10.5],
 [-21.2,
  -18.5,
  -7.3,
  6.5,
  15.2,
  22.1,
  20.8,
  21.4,
  13.1,
  4.0,
  -0.2,
  -13.3,
  -19.9,
  -17.9,
  -9.3,
  5.7,
  14.3,
  17.9,
  20.6,
  16.0,
  14.2,
  5.4,
  -8.1,
  -13.6,
  -17.4,
  -19.2,
  -6.9,
  11.7,
  15.7,
  21.5,
  23.5,
  20.9,
  12.4,
  6.6,
  -3.3,
  -18.3],
 [-16.3,
  -8.3,
  -1.8,
  8.0,
  17.1,
  20.0,
  25.4,
  22.5,
  12.2,
  3.5,
  3.5,
  -6.4,
  -8.5,
  -12.0,
  -3.4,
  6.0,
  15.2,
  19.5,
  22.8,
  18.5,
  12.2,
  6.1,
  -0.8,
  -0.5,
  -7.4,
  -12.8,
  -3.3,
  8.1,
  16.0,
  17.4,
  21.0,
  18.3,
  12.8,
  7.2,
  1.5,
  -8.4],
 [-14.5,
  -8.4,
  -1.1,
  8.3,
  16.7,
  18.8,
  26.0,
  21.8,
  11.7,
  3.8,
  2.7,
  -7.6,
  -7.5,
  -11.0,
  -2.0,
  6.4,
  14.6,
  19.1,
  23.4,
  18.7,
  12.1,
  6.6,
  0.2,
  -0.2,
  -6.8,
  -11.7,
  -3.1,
  8.2,
  15.1,
  17.1,
  20.9,
  17.7,
  12.9,
  6.5,
  1.6,
  -8.6]]

In [15]:
final_df = pd.DataFrame(final_temp).T
final_df.columns=["Тверь", "Санкт-Петербург", "Владимир", "Троицк", "Тула", "Москва"]

In [17]:
final_df.head(5)

   Тверь  Санкт-Петербург  Владимир  Троицк  Тула  Москва
0  -15.9            -12.1     -15.9   -21.2 -16.3   -14.5
1   -9.4             -8.4      -9.7   -18.5  -8.3    -8.4
2   -2.5             -2.4      -2.8    -7.3  -1.8    -1.1
3    6.9              6.7       7.6     6.5   8.0     8.3
4   15.8             13.4      16.5    15.2  17.1    16.7

In [19]:
final_df.to_pickle("city_temperature.pkl")

In [20]:
df = pd.read_pickle("city_temperature.pkl")
df.head(5)

   Тверь  Санкт-Петербург  Владимир  Троицк  Тула  Москва
0  -15.9            -12.1     -15.9   -21.2 -16.3   -14.5
1   -9.4             -8.4      -9.7   -18.5  -8.3    -8.4
2   -2.5             -2.4      -2.8    -7.3  -1.8    -1.1
3    6.9              6.7       7.6     6.5   8.0     8.3
4   15.8             13.4      16.5    15.2  17.1    16.7